<!DOCTYPE html>
<html>

<head>
  <title>Gardenhead</title>
</head>

<body>
  <h1>Search</h1>
  <form>
    <input name="q" {% if search_query %}value="{{ search_query }}"{% endif %}>
    <button type="submit">Search</button>
  </form>

  {% if search_results %}
    <h4>{{ record_count }} records found for '{{ search_query }}'</h4>
    <br>
    {% for record in search_results %}

        <span style="font-weight: bold;">{{ record.name_formatted|safe }}</span>
        <br>
        <img height="100px" width="100px" src="{{ record.thumbnail_url }}"/>
        <br>
        <br>

    {% endfor %}
  {% endif %}
</body>

</html>